html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 768px;
  padding: 0;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect (0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
  background-color: #ffffff;
  z-index: 1;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.main-nav {
  position: relative;
  padding: 0 6%;
}

.page-header__image-logo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 138px;
  height: 70px;
  margin-left: -69px;
  z-index: 1;
}

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.site-list__item {
  width: 22.72%;
  padding: 15px 0;
}

.site-list__item-link {
  color: #000000;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.site-list__item-link:hover,
.site-list__item-link:focus {
  color: #81b3d2;
}

.site-list__item-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.site-list__item-link--active {
  color: #766357;
}

.site-list__item:nth-child(1),
.site-list__item:nth-child(2) {
  padding-right: 40px;
}

.site-list__item:nth-child(3),
.site-list__item:nth-child(4) {
  text-align: right;
  padding-left: 40px;
}

.site-list__item:nth-child(3) {
  margin-left: auto;
}

.showcase {
  position: relative;
  min-height: 508px;
  padding: 76px 0 80px 0;
}

.showcase-bg {
  position: absolute;
  display: block;
  top: 201px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  transform: translateY(-28.5%);
}

.showcase__img {
  position: relative;
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
  z-index: 1;
}

.showcase::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  background: url("img/showcase-decoration.png") center bottom / 100% no-repeat;
  width: 100%;
  height: 57px;
  z-index: 1;
}
.about {
  text-align: center;
  padding: 61px 6% 53px;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}

.about__info {
  max-width: 500px;
  margin: 0 auto;
}

.about__title {
  margin: 0;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.about__lead {
  margin: 0;
}

.reasons__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  min-height: 256px;
}
.reasons__item {
  display: flex;
  min-height: 256px;
}

.reasons__item--promo {
  position: relative;
  overflow: hidden;
}

.reasons__list-wrapper {
  padding: 47px 0 60px;
  background-color: #eeeeee;
  display: flex;
}

.reasons__item-info {
  min-height: 256px;
  background-color: #eeeeee;
  text-align: center;
  padding: 0 48px;
}

.reasons__item-info--promo {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 47px 38px 39px;
  width: 33.33%;
  flex-grow: 1;
}

.reasons__item-img {
  position: relative;
  width: 66.66%;
  height: inherit;
  background-color: #ffffff;
}

.reasons__item-img img {
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  width: 100%;
  top: 50%;
  height: inherit;
  transform: translateY(-50%);
}

.list-item__title {
  max-width: 160px;
  font-size: 21px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.list-item__number,
.list-item__description {
  font-size: 14px;
  font-weight: 400;
}

.list-item__description {
  margin: 0;
  margin-top: 21px;
}

.features {
  padding: 56px 0 82px;
}

.features__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features__item {
  position: relative;
  width: 33.33%;
  padding: 105px 48px 0;
  flex-grow: 1;
  text-align: center;
}

.features__title {
  font-size: 21px;
  margin: 0 0 23px;
}

.features__description {
  margin: 0;
  color: #333333;
}

.features__item--accommodation::before {
  content: "";
  position: absolute;
  background: url("img/accommodation.svg") center top no-repeat;
  width: 75px;
  height: 72px;
  top: 4px;
  left: 50%;
  margin-left: -38px;
}

.features__item--food::before {
  content: "";
  position: absolute;
  background: url("img/food.svg") center top no-repeat;
  width: 74px;
  height: 70px;
  top: 4px;
  left: 50%;
  margin-left: -39px;
}

.features__item--souvenirs::before {
  content: "";
  position: absolute;
  background: url("img/souvenirs.svg") center top no-repeat;
  width: 64px;
  height: 76px;
  top: 4px;
  left: 50%;
  margin-left: -32px;
}
