html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  min-width: 768px;
  padding: 0;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 0 40px;
}
